@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Parisienne&family=Outfit:wght@300;400;600&display=swap');

html {
  background-color: rgb(29, 29, 29);
  font-family: Outfit, sans-serif;
}

main>h1,
main>p {
  text-align: center;
  color: hsl(137, 100%, 50%);
}

.iNaturalistContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.364);
  background-color: rgb(29, 29, 29);
}

.itemContainer h1,
.itemContainer h3,
.itemContainer p,
.itemContainer a {
  color: white;
  margin: 0;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.itemContainer h3 {
  font-size: 1rem;
}

.itemContainer div {
  padding: 1rem;
  padding-top: 0;
}

.itemContainer img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  object-fit: cover;
}

.itemContainer audio::-webkit-media-controls-panel {
  background-color: hsl(137, 100%, 50%);
}